.page {
    background-color: green;
    color: pink;
    text-align: center;
}

.burgers #title {
    background-color: black;
    color: yellow;
}

h1 {
    /* color:blue; */
    font-size: 66px;
    text-align: center;
}

.list {
    text-align: center;
}

a.button {
    background-color: black;
    font-size: 44px;  
    text-align: center;  
}


a.chowmein {
    color: white;
}
a.pancakes {
    color: yellow;
    }
a.burgers {
    color: cornflowerblue;
}